<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>    <key>Wallpaper</key>    <array>        <dict>            <key>ImagePath</key>            <string>~/Documents/fondos/01-SINCE_1975.jpg</string>        </dict>        <dict>            <key>ImagePath</key>            <string>~/Documents/fondos/02-ZAPATOS.jpg</string>        </dict>        <dict>            <key>ImagePath</key>            <string>~/Documents/fondos/_DONT_NEED_IT.jpg</string>        </dict>        <dict>            <key>ImagePath</key>            <string>~/Documents/fondos/04-WALK_DONT_RUN.jpg</string>        </dict>    </array></dict></plist>